* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 25px [col-start]);
  place-content: center;
  margin-top: 15px;
}

#customizeGrid {
  display: block;
  padding: 0px;
  margin:auto;
  width: 174px;
  font-size: 20px;
}